# **Hackathon 1 Retail Data Analytics**

# Section 1: ETL

## Objectives

In this section, the aim is to prepare a cleaned dataset for visualization and analysis from the raw data files. There are ETL procedures form data extraction, data cleaning and processing to data load.


## Inputs

* Datasets used for this analysis is the retail data set from Kaggle (https://www.kaggle.com/datasets/manjeetsingh/retaildataset). 

* 3 raw files will be used.
    *[stores-dataset.csv](../dataset/raw/stores-dataset.csv) 
    *[sales-dataset.csv](../dataset//raw/sales-dataset.csv) 
    *[feature-dataset.csv](../dataset/raw/features-dataset.csv)

## Outputs

* A cleaned dataset will be save as a CSV file below
    *  [retail_cleaned.csv](../dataset/processed/cleaned-dataset.csv)

---

# Change working directory

* We are assuming you will store the notebooks in a subfolder, therefore when running the notebook in the editor, you will need to change the working directory

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [1]:
import os
current_dir = os.getcwd()
current_dir

'/Users/denniskwok/Documents/data-analytics/hackathon1-retail-sales-data-analysis/jupyter_notebooks'

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [2]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [3]:
current_dir = os.getcwd()
current_dir

'/Users/denniskwok/Documents/data-analytics/hackathon1-retail-sales-data-analysis'

# Part A

# Data Extraction

In [4]:
import numpy as np
import pandas as pd

In [5]:
# Load datasets from csv files
def load_csv(filepath):
    try:
        df = pd.read_csv(filepath)
        print(f"Loaded {filepath} successfully.")
        return df
    except FileNotFoundError:
        print(f"File not found: {filepath}")
        return pd.DataFrame()

df_sales = load_csv("dataset/raw/sales-dataset.csv")
df_stores = load_csv("dataset/raw/stores-dataset.csv")
df_features = load_csv("dataset/raw/features-dataset.csv")

Loaded dataset/raw/sales-dataset.csv successfully.
Loaded dataset/raw/stores-dataset.csv successfully.
Loaded dataset/raw/features-dataset.csv successfully.

In [6]:
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  object
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  bool
dtypes: bool(1), float64(1), int64(2), object(1)
memory usage: 13.3+ MB

In [7]:
df_stores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Store   45 non-null     int64
 1   Type    45 non-null     object
 2   Size    45 non-null     int64
dtypes: int64(2), object(1)
memory usage: 1.2+ KB

In [8]:
df_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8190 entries, 0 to 8189
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         8190 non-null   int64
 1   Date          8190 non-null   object
 2   Temperature   8190 non-null   float64
 3   Fuel_Price    8190 non-null   float64
 4   MarkDown1     4032 non-null   float64
 5   MarkDown2     2921 non-null   float64
 6   MarkDown3     3613 non-null   float64
 7   MarkDown4     3464 non-null   float64
 8   MarkDown5     4050 non-null   float64
 9   CPI           7605 non-null   float64
 10  Unemployment  7605 non-null   float64
 11  IsHoliday     8190 non-null   bool
dtypes: bool(1), float64(9), int64(1), object(1)
memory usage: 712.0+ KB

---

# Part B

# Data Transformation (data cleaning and processing)

In [9]:
# Convert 'Date' columns to datetime with function convert_date
def convert_date(df, col='Date'):
    if col in df.columns:
        df[col] = pd.to_datetime(df[col], dayfirst=True)
    return df

df_sales = convert_date(df_sales)
df_features = convert_date(df_features)

In [10]:
# Merge datasets
df_sales_store = pd.merge(df_sales, df_stores, how='left', on='Store')
df_merged = pd.merge(df_sales_store, df_features, how='left', on=['Store', 'Date'])

* 3 datasets are merged as df_merged and ready for cleaning.

In [11]:
# Overview the merged DataFrame
df_merged.head

<bound method NDFrame.head of         Store  Dept       Date  Weekly_Sales  IsHoliday_x Type    Size  \
0           1     1 2010-02-05      24924.50        False    A  151315
1           1     1 2010-02-12      46039.49         True    A  151315
2           1     1 2010-02-19      41595.55        False    A  151315
3           1     1 2010-02-26      19403.54        False    A  151315
4           1     1 2010-03-05      21827.90        False    A  151315
...       ...   ...        ...           ...          ...  ...     ...
421565     45    98 2012-09-28        508.37        False    B  118221
421566     45    98 2012-10-05        628.10        False    B  118221
421567     45    98 2012-10-12       1061.02        False    B  118221
421568     45    98 2012-10-19        760.01        False    B  118221
421569     45    98 2012-10-26       1076.80        False    B  118221

        Temperature  Fuel_Price  MarkDown1  MarkDown2  MarkDown3  MarkDown4  \
0             42.31       2.572        NaN        NaN        NaN        NaN
1             38.51       2.548        NaN        NaN        NaN        NaN
2             39.93       2.514        NaN        NaN        NaN        NaN
3             46.63       2.561        NaN        NaN        NaN        NaN
4             46.50       2.625        NaN        NaN        NaN        NaN
...             ...         ...        ...        ...        ...        ...
421565        64.88       3.997    4556.61      20.64       1.50    1601.01
421566        64.89       3.985    5046.74        NaN      18.82    2253.43
421567        54.47       4.000    1956.28        NaN       7.89     599.32
421568        56.47       3.969    2004.02        NaN       3.18     437.73
421569        58.85       3.882    4018.91      58.08     100.00     211.94

        MarkDown5         CPI  Unemployment  IsHoliday_y
0             NaN  211.096358         8.106        False
1             NaN  211.242170         8.106         True
2             NaN  211.289143         8.106        False
3             NaN  211.319643         8.106        False
4             NaN  211.350143         8.106        False
...           ...         ...           ...          ...
421565    3288.25  192.013558         8.684        False
421566    2340.01  192.170412         8.667        False
421567    3990.54  192.327265         8.667        False
421568    1537.49  192.330854         8.667        False
421569     858.33  192.308899         8.667        False

[421570 rows x 17 columns]>

In [12]:
# Check the columns details
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 17 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  datetime64[ns]
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday_x   421570 non-null  bool
 5   Type          421570 non-null  object
 6   Size          421570 non-null  int64
 7   Temperature   421570 non-null  float64
 8   Fuel_Price    421570 non-null  float64
 9   MarkDown1     150681 non-null  float64
 10  MarkDown2     111248 non-null  float64
 11  MarkDown3     137091 non-null  float64
 12  MarkDown4     134967 non-null  float64
 13  MarkDown5     151432 non-null  float64
 14  CPI           421570 non-null  float64
 15  Unemployment  421570 non-null  float64
 16  IsHoliday_y   421570 non-null  bool
dtypes: bool(2), datetime64[ns](1), float64(10), int64(3), object(1)
memory usage: 49.0+ MB

In [13]:
# Check missing values in the merged DataFrame
df_merged.isnull().sum()

Store                0
Dept                 0
Date                 0
Weekly_Sales         0
IsHoliday_x          0
Type                 0
Size                 0
Temperature          0
Fuel_Price           0
MarkDown1       270889
MarkDown2       310322
MarkDown3       284479
MarkDown4       286603
MarkDown5       270138
CPI                  0
Unemployment         0
IsHoliday_y          0
dtype: int64

* In the merged dataframe, there are 2 issues to be resolved with data cleaning and processing.
    * Duplicated columns: 'IsHoliday_x', 'IsHoliday_y'
    * Missing values: 'MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4', 'MarkDown5'
    * Change object and bool type to numeric for better visualization and anaylsis

In [14]:
# Clean up duplicate columns if they are identical
if 'IsHoliday_x' in df_merged.columns and 'IsHoliday_y' in df_merged.columns:
    if (df_merged['IsHoliday_x'] == df_merged['IsHoliday_y']).all():
        df_merged.drop(columns=['IsHoliday_y'], inplace=True)
        df_merged.rename(columns={'IsHoliday_x': 'IsHoliday'}, inplace=True)

In [15]:
# Fill missing MarkDown values with 0
markdown_cols = [col for col in df_merged.columns if col.startswith('MarkDown')]
df_merged[markdown_cols] = df_merged[markdown_cols].fillna(0)

In [16]:
# Convert boolean columns to integers (True=1, False=0)
bool_cols = df_merged.select_dtypes(include=['bool']).columns
df_merged[bool_cols] = df_merged[bool_cols].astype(int)

In [17]:
# Convert column 'Type' to ordinal encoding with pipeline 
from sklearn.pipeline import Pipeline
from feature_engine.encoding import OrdinalEncoder
from feature_engine.imputation import DropMissingData

pipeline = Pipeline([
      ('drop_missing', DropMissingData()), # in case there are missing values
      ('ordinal_encoder', OrdinalEncoder(encoding_method='arbitrary', variables=['Type'])) # convert 'Type' column to ordinal encoding
])

df_merged = pipeline.fit_transform(df_merged)

/Users/denniskwok/Documents/data-analytics/hackathon1-retail-sales-data-analysis/.venv/lib/python3.12/site-packages/feature_engine/encoding/base_encoder.py:223: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  if pd.api.types.is_categorical_dtype(X[feature]):

# Part C

# Data Load (creating a cleaned dataset)

In [19]:
#final check for missing values after feature-engineering
df_merged.isnull().sum()

Store           0
Dept            0
Date            0
Weekly_Sales    0
IsHoliday       0
Type            0
Size            0
Temperature     0
Fuel_Price      0
MarkDown1       0
MarkDown2       0
MarkDown3       0
MarkDown4       0
MarkDown5       0
CPI             0
Unemployment    0
dtype: int64

In [20]:
# Show head and info for final merged dataframe
display(df_merged.head())
df_merged.info()

,Store,Dept,Date,Weekly_Sales,IsHoliday,Type,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
0,1,1,2010-02-05,24924.50,0,0,151315,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106
1,1,1,2010-02-12,46039.49,1,0,151315,38.51,2.548,0.0,0.0,0.0,0.0,0.0,211.242170,8.106
2,1,1,2010-02-19,41595.55,0,0,151315,39.93,2.514,0.0,0.0,0.0,0.0,0.0,211.289143,8.106
3,1,1,2010-02-26,19403.54,0,0,151315,46.63,2.561,0.0,0.0,0.0,0.0,0.0,211.319643,8.106
4,1,1,2010-03-05,21827.90,0,0,151315,46.50,2.625,0.0,0.0,0.0,0.0,0.0,211.350143,8.106

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  datetime64[ns]
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  int64
 5   Type          421570 non-null  int64
 6   Size          421570 non-null  int64
 7   Temperature   421570 non-null  float64
 8   Fuel_Price    421570 non-null  float64
 9   MarkDown1     421570 non-null  float64
 10  MarkDown2     421570 non-null  float64
 11  MarkDown3     421570 non-null  float64
 12  MarkDown4     421570 non-null  float64
 13  MarkDown5     421570 non-null  float64
 14  CPI           421570 non-null  float64
 15  Unemployment  421570 non-null  float64
dtypes: datetime64[ns](1), float64(10), int64(5)
memory usage: 51.5 MB

* The dataset looks cleaned and ready for further data visualization

In [22]:
# Export the cleaned dataframe to a CSV file in the folder for processed CSV
df_cleaned = df_merged.copy()
df_cleaned.to_csv('dataset/processed/retail_cleaned.csv', index=False)
print(f'Cleaned data exported to dataset/processed/retail_cleaned.csv')

Cleaned data exported to dataset/processed/retail_cleaned.csv

---

To be contined in Section 2 Data Visualization.